/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Exo 2', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.navbar {
  height: 75px;
  padding-top: 9px;
}


/* Custom page CSS
-------------------------------------------------- */

#myNameHeader {
  font-size: 60px;
}

#my_picture {
  padding-top: 25px;
}

#right_menu_items {
  padding-right: 10px;
}